.bookshelf {
  margin: auto;
  max-width: 92vw;

  &-alt {
    color: #88989a;
    font-size: 0.9rem;
    text-align: center;

    &::before {
      content: "[ ";
    }

    &::after {
      content: " ]";
    }
  }

  &__shelf {
    margin: 3rem 0;
  }

  &__heading {
    margin: 3rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }
}

@media (min-width: 741px) {
  .bookshelf {
    &__shelf {
      margin: 5rem 0;
    }

    &__heading {
      margin: 5rem 0;
    }
  }
}
