.bookshelf {
  margin: auto;
  max-width: 92vw;

  &-alt {
    color: #88989a;
    font-size: 0.9rem;
    text-align: center;

    &::before {
      content: "[ ";
    }

    &::after {
      content: " ]";
    }
  }

  &__shelf {
    margin: 5rem 0;
  }

  &__heading {
    margin: 5rem 0;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
  }
}
