.header {
  width: 100%;
  padding: 3rem 0;
  background: linear-gradient(135deg, #ec356e, #ce3276, #7131a7);
  box-shadow: 0 15px 45px rgba(50, 50, 93, 0.15),
              0 5px 15px rgba(0, 0, 0, 0.07);
  transition: padding 0.3s ease;
  will-change: padding;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &.smoosh {
    padding: 1rem 0;
  }

  &-inner {
    margin: auto;
    max-width: 92vw;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0;
    color: #fff;
    font-size: 1.7rem;
    transform: translateY(-2px);

    &::before {
      content: "[";
      font-weight: 400;
      display: inline-block;
    }

    &::after {
      content: "]";
      font-weight: 400;
      display: inline-block;
    }
  }
}

.site-links {
  margin: 0 3rem;

  &__link {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid transparent;

    // Expand the tap target area without
    // changing the dimensions of the link
    &::after {
      content: "";
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
      position: absolute;
    }

    &:focus,
    &:hover {
      border-bottom-color: rgba(255, 255, 255, 0.33);
    }
  }

  &__link-divider {
    margin: 0 1.5rem;

    &::after {
      content: "/";
      font-size: 12px;
      color: rgba(255, 255, 255, 0.33);
    }
  }

  &__link.active {
    border-bottom-color: rgba(255, 255, 255, 0.66);
  }
}

.search-container,
.search-input {
  &,
  &:focus {
    outline: none;
  }
}

.search-container {
  text-decoration: none;
  display: flex;
  flex: 1;
}

.search-input {
  width: 100%;
  color: #fff;
  padding: 1rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  border: 0 none;
  display: block;
  transition: box-shadow 0.2s ease;

  &::placeholder {
    color: rgba(255, 255, 255, 0.66);
  }

  &:focus {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
                0 5px 15px rgba(0, 0, 0, 0.07);
  }
}
